body {
  font-family: -apple-system, BlinkMacSystemFont, "sans-serif",
    "Helvetica Neue Light", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
