.window-container {
  width: 50vw;
  height: 95vh;
  margin: 0 auto;
  margin-top: 2vh;
  border-radius: 1.2vw;
  border-color: rgb(24, 1, 24);
  border-style: solid;
  border-width: 1px;
}

.nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(187, 184, 184);
  border-top-left-radius: 1.2vw;
  border-top-right-radius: 1.2vw;
}

.nav div {
  width: 11vw;
  height: 6vh;
  margin: 1.2vw;
  margin-right: 0vw;
  margin-left: 2.5vw;
  border-radius: 1vw;
  background-color: rgb(163, 90, 163);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: 2px 4px 10px rgb(98, 98, 98);
}

.off {
  background-color: rgb(151, 100, 151);
  transition: 0.4s;
}

.off:hover {
  transform: scale(1.05);
}

.nav .on {
  background-color: rgb(57, 38, 80);
  transform: scale(1.1);
}
