.sec-window-container {
  width: 95%;
  height: 78.5vh;
  margin: 0 auto;
  margin-top: 2.5vh;
  border-radius: 1.2vw;
  border-color: rgb(24, 1, 24);
  border-style: solid;
  border-width: 1px;
}

.sec-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(187, 184, 184);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.module {
  width: 8vw;
  height: 6vh;
  margin: 1.2vw;
  margin-right: 0vw;
  margin-left: 1.5vw;
  border-radius: 1vw;
  background-color: rgb(163, 90, 163);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: 2px 4px 10px rgb(98, 98, 98);
  transition: 0.4s;
}

.module:hover {
  background-color: rgb(57, 38, 80);
  transform: scale(1.1);
}

.users {
  display: flex;
  flex-direction: column;
}

h4 {
  font-weight: 1000;
  margin-left: 5%;
}

.users {
  width: 7vw;
  height: 45vh;
  margin: 0 auto;
  display: block;
}

.user-btn {
  width: 7vw;
  height: 6vh;
  margin: 0 auto;
  margin-bottom: 2.5vh;
  border-radius: 0.8vw;
  background-color: rgb(163, 90, 163);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: 2px 4px 10px rgb(98, 98, 98);
  transition: 0.4s;
}
